html {
  min-height: 100vh;

}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #ccc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eee, #ddd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eee, #ddd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  padding: 20px;
  margin-top: 50px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
  border-width: 2px;
}